@import url("https://fonts.googleapis.com/css2?family=Gloock&family=Noto+Sans:wght@400;700;900&display=swap");

/* font-family: 'Gloock', serif;
font-family: 'Noto Sans', sans-serif; */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    --bg-color: #314560;
    --bg-stack: rgb(163, 163, 163);
    --bg-header: #44beff72;
    --bg-header-pj: #a4a4a4;
    --text-color: #fff;
    --text-color-2: #223843;
    --text-color-link: #00a9fe;
    --text-span: #71ff92;
    --text-header-title: #e0f4ff;
    --text-h2-after: rgb(189, 189, 189);
    --btn-title: #466f8e;
    --btn-link: #a2b4c5;
    --btn-likdn: #0a66c2;
    --btn-git: #0d1117;
}

/* html {
    font-size: 62.5%;
} */

body {
    color: var(--text-color);
    font-family: "Noto Sans", sans-serif;
    background-color: var(--bg-color);
}

.btn {
    text-align: center;
    text-decoration: none;
    width: 130px;
    height: 50px;
    padding: 12px 0;
    border: none;
    border-radius: 70px;
    display: inline-block;
}

section {
    width: 100%;
    height: 100vh;
}

/* Cabeçalho */
header {
    width: 100%;
    height: 40px;
    padding: 20px 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 1000;
}
/* 
main {
    padding: 40px 0;
} */

header a.titleLink,
li a {
    text-decoration: none;
}

header a.titleLink {
    color: var(--header-title);
    font-size: 24px;
    font-weight: 900;
    letter-spacing: 1px;
    background: linear-gradient(
        to right,
        rgb(29, 168, 255) 0%,
        rgb(0, 247, 255) 100%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

header ul {
    list-style: none;
    display: flex;
    gap: 30px;
}

li a {
    color: var(--text-color);
    text-shadow: -2px 2px 5px rgba(0, 0, 0, 0.7);
}

li a:hover {
    border-bottom: 1px solid rgb(255, 255, 255);
}

a#download {
    color: var(--text-color);
    text-decoration: none;
    background: linear-gradient(
        to right,
        rgb(29, 168, 255) 0%,
        rgb(1, 98, 255) 100%
    );
    border-radius: 100px;
    padding: 5px 15px;
}

li a#download:hover {
    color: var(--text-color);
    border: none;
}

li a#download:active {
    filter: drop-shadow(1px 1px 5px rgb(255, 255, 255));
}

/* Seção inicio  */
.inicio {
    position: relative;
    overflow: hidden;
}

.elipse1 {
    background: transparent;
    width: 550px;
    height: 550px;
    border: 7px solid #009ddc;
    border-radius: 50%;
    position: absolute;
    top: -35px;
    left: -120px;
    z-index: 1;
}

.elipse2 {
    background: transparent;
    width: 600px;
    height: 600px;
    border: 7px solid #00dca5;
    border-radius: 50%;
    position: absolute;
    bottom: -100px;
    right: -50px;
    z-index: 1;
}

.elipse3 {
    background: linear-gradient(
        145deg,
        rgba(52, 17, 182, 1) 20%,
        rgba(0, 157, 220, 1) 100%
    );
    width: 400px;
    height: 400px;
    border-radius: 50%;
    position: absolute;
    top: 190px;
    right: 250px;
    z-index: 1;
}

.container {
    width: 85%;
    margin: auto;
    padding: 100px 0;
    position: relative;
    z-index: 100;
}

.subcontainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 100px;
}

.introduction {
    margin-top: 100px;
    margin-left: 45px;
}

.introduction .text {
    color: var(--text-color);
}

.introduction .text h1 {
    font-size: 38px;
    font-weight: 400;
    letter-spacing: 1px;
    margin-bottom: 30px;
}

.introduction .text h1 span {
    color: var(--text-span);
    font-family: "Gloock", serif;
    font-weight: 700;
    letter-spacing: 2px;
}

.introduction .text p {
    font-size: 22px;
    letter-spacing: 1.3px;
    line-height: 30px;
}

.introduction .text p:last-child {
    margin-top: 15px;
}

.introduction .buttons {
    margin-top: 50px;
    width: 100%;
    display: flex;
    gap: 20px;
}

.btn-sobre {
    color: var(--text-color-2);
    background-color: #fff;
}

.btn-linkedin {
    color: var(--text-color);
    background-color: var(--btn-likdn);
}

.btn-github {
    color: var(--text-color);
    background-color: var(--btn-git);
}

/* Seção sobre */
.sobre .container {
    padding: 60px 0 40px 0;
}

.sobre .subcontainer {
    padding: 25px;
    gap: 0;
}

.sobre .subcontainer .left {
    border-width: 8px;
    border-style: solid;
    border-image: linear-gradient(
            153deg,
            rgba(52, 17, 182, 1) 0%,
            rgba(0, 157, 220, 1) 90%
        )
        1;
    width: 65%;
    height: 570px;
    padding: 30px 0 20px 0;
    margin-left: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sobre .left img {
    /* border-radius: 30px; */
    width: 300px;
    height: 400px;
    background-color: #009ddc;
    margin-bottom: 30px;
}

.sobre .left a {
    margin-top: 20px;
}

.subcontainer .right h2 {
    margin-bottom: 50px;
}

.subcontainer .right p {
    font-size: 20px;
    letter-spacing: 1px;
}

/* Seção Projetos */

.projetos .container {
    padding-top: 80px;
}

.projetos .subcontainer {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.projetos h2::after {
    content: " ";
    bottom: -5px;
}

.projetos .amostra {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 40px;
}

.amostra .borda-gradient {
    width: 300px;
    height: 350px;
    padding: 15px;
    border-width: 4px;
    border-style: solid;
    border-image: linear-gradient(
            153deg,
            rgba(52, 17, 182, 1) 0%,
            rgba(0, 157, 220, 1) 90%
        )
        1;
}

.amostra .projeto {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 4fr 1fr 2fr 1fr;
    position: relative;
}

.projeto .git-circle {
    background-color: transparent;
    position: absolute;
    top: 0;
    right: 0;
}

/* .amostra .projeto img {
    height: 70px;
} */

.projeto .titulo-projeto {
    color: var(--text-color-2);
    font-size: 20px;
    background-color: var(--btn-title);
    display: flex;
    justify-content: center;
    align-items: center;
}

.projeto .stacks-projeto {
    background-color: white;
    width: 100%;
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: baseline;
    align-items: baseline;
    gap: 10px;
}

.stack {
    color: var(--text-color);
    font-size: 12px;
    background-color: var(--bg-stack);
    padding: 5px 10px;
    border-radius: 30px;
}

.projeto a {
    color: var(--text-color-2);
    font-size: 19px;
    text-align: center;
    text-decoration: none;
    background-color: var(--btn-link);
}

/* Seção de habilidades */
h2 {
    font-size: 48px;
    position: relative;
}

h2::after {
    content: " ";
    background-color: var(--text-h2-after);
    width: 320px;
    height: 2px;
    padding: 1px;
    position: absolute;
    bottom: 0;
    left: 0;
}

.habilidades .subcontainer {
    display: flex;
    flex-direction: column;
    gap: 60px;
}

.hab-amostra {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 70px;
}

.hab-amostra .hab {
    background: linear-gradient(
        153deg,
        rgba(52, 17, 182, 1) 0%,
        rgba(0, 157, 220, 1) 90%
    );
    border-radius: 30px;
    width: 200px;
    height: 210px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
